# Comment
tempfile.txt
tempfile2.txt
.DS_store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
assets/videos/
!assets/videos/tour_*.mp4

# What file to ignore:
# - Compiled source code
# - Packages and compressed files
# - logs and databasese
# - operation system gernerated files
# - user-uploaded assets (images, PDFs, videos)
#
# Reference:
# https://help.github.com/articles/ignoring-files
# https://github.com/github/gitignore

